.no-select {
  touch-action:none;
  -webkit-user-drag: none;
  user-select:none;
}

.visuallyhidden {
  position: absolute!important;
  clip: rect(0 0 0 0)!important;
  -webkit-clip-path: polygon(0 0)!important;
  clip-path: polygon(0 0)!important;
  overflow: hidden;
  width: 1px;
  height: 1px;
}