.no-select {
  touch-action:none;
  -webkit-user-drag: none;
  user-select:none;
}

.visuallyhidden {
  position: absolute!important;
  clip: rect(0 0 0 0)!important;
  -webkit-clip-path: polygon(0 0)!important;
  clip-path: polygon(0 0)!important;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.hide-for-mobile {
  @include small-only {
    display:none !important;
  }
}

u,
.border-bottom {
  position:relative;
  text-decoration:none;
  &:before {
    content: '';
    position: absolute;
    height: 15px;
    background: $gold;
    bottom: 4px;
    left: -4px;
    right:-4px;
    z-index: -1;
    @include small-only {
      height: 10px;
      left: -2px;
      right:-2px;
    }
  }
}

u {
  &:before {
    height:10px;
  }
}

.vueperslides {
  top:50%;
  transform:translateY(-50%);
  .vueperslides__arrow {
    background:$gold;
    border-radius:50%;
    width:33px;
    height:33px;
    @include small-only {
      top:50%;
      transform: translateY(-50%);
    }
    svg {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      width:15px;
      height:15px;
    }
    &--prev {
      left:115px;
      @include small-only {
        top:31%;
        transform:none;
        left:15px;
      }
    }
    &--next {
      right:115px;
      @include small-only {
        top:31%;
        transform:none;
        right:15px;
      }
    }
  }
}
