// ------------------------------------------------------------------------------------------
// Default Fade
// ------------------------------------------------------------------------------------------
.fade-enter-active, .fade-leave-active {
  opacity:1;
  transition: opacity 500ms ease-out;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
// ------------------------------------------------------------------------------------------
// Fade gallery
// ------------------------------------------------------------------------------------------
.fade-gallery-enter-active, .fade-gallery-leave-active {
  opacity:1;
  transition: opacity 1s ease-out;
}
.fade-gallery-enter, .fade-gallery-leave-active {
  opacity: 0
}
