// ------------------------------------------------------------------------------------------
// Colors
// ------------------------------------------------------------------------------------------

$black:#000000;
$white:#FFFFFF;
$gold:#B5966B;

// ------------------------------------------------------------------------------------------
// Typography
// ------------------------------------------------------------------------------------------

$fw-light: 100;
$fw-medium: 500;
$fw-bold: 700;
$fs-buttons: 10px;
$ls-buttons: 3px;

// ------------------------------------------------------------------------------------------
// z-index
// ------------------------------------------------------------------------------------------

$zMenu:10;
$zSection:10;
$zMeter:10;
