// ------------------------------------------------------------------------------------------
// Colors
// ------------------------------------------------------------------------------------------

$black:#000000;
$white:#FFFFFF;
$gold:#B5966B;
$darkblue:#1D264A;

// ------------------------------------------------------------------------------------------
// Typography
// ------------------------------------------------------------------------------------------

$fw-light: 100;
$fw-medium: 500;
$fw-bold: 700;
$fs-buttons: 10px;
$fs-buttons-big: 20px;
$ls-buttons: 3px;
$fs-watch-title: 220px;
$fs-watch-title-final: 90px;
$fs-watch-feature-title: 15px;
$fs-watch-feature-text: 60px;
$fs-watch-price: 40px;

$fs-other-models-title: 30px;
$fs-other-models-description-label: 14px;
$fs-other-models-description: 18px;
$fs-other-models-price: 24px;

// ------------------------------------------------------------------------------------------
// z-index
// ------------------------------------------------------------------------------------------

$zMenu:10;
$zHeader:40;
$zSection:10;
$zMeter:10;
$zMenuMobile:35;
$zSocialNetwork:40;
$zIntro:30;
$zGallery:30;
// ------------------------------------------------------------------------------------------
// breakpoints
// ------------------------------------------------------------------------------------------

$medium: 768px !default;
$wide: 1024px !default;
$huge: 1280px !default;
